@font-face {
  font-family: 'Rotonda';
  src:
    url('~@/assets/fonts/RotondaC.woff') format('woff');
  font-weight: regular;
  font-style: normal;
}
@font-face {
  font-family: 'Rotonda';
  src:
    url('~@/assets/fonts/RotondaC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}